<html>
<head>
    <title>Ta vráť čo si si požičal</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<form method="post" action="/">
    Kto <select name="kto">
            <option value="filip">Filip</option>
            <option value="janci">Janči</option>
            <option value="kabell">Kabell</option>
        </select>

    Komu <select name="komu">
            <option value="filip">Filip</option>
            <option value="janci">Janči</option>
            <option value="kabell">Kabell</option>
        </select>
    Poznámka <input type="text" name="poznamka"/>
    Kolko <input type="text" name="kolko"/>
    <input type="submit" value="odosli">

</form>
<h3>
{% if smer == 1 %}
Kabell je dlžný Filipovi: {{ kabell_to_filip |floatformat:2}} kč <br/>
Filip je dlžný Jančimu: {{ filip_to_janci |floatformat:2}} kč<br/>
Janči je dlžný Kabellovi: {{ janci_to_kabell |floatformat:2}} kč<br/>
{% elif smer == 2 %}
    Filip je dlžný Kabellovi: {{ kabell_to_filip |floatformat:2}} kč <br/>
Janči je dlžný Filipovi: {{ filip_to_janci |floatformat:2}} kč<br/>
Kabell je dlžný Jančimu: {{ janci_to_kabell |floatformat:2}} kč<br/>
</h3>
{% endif %}
<br/>

<h2>Kabell</h2><br/>
<table class="table">
<tr><td><label>Kto</label></td><td><label>Komu</label></td><td><label>Poznamka</label></td><td><label>Kolko</label></td><td><label>Kedy</label></td></tr>
{% for item in kabell %}
    <tr><td>{{ item.kto }} </td><td>{{ item.komu }}</td><td>{{ item.poznamka }}</td><td>{{ item.kolko }}</td><td>{{ item.datum }}</td><td><a href="/delete/{{ item.id }}">Zmazat</a></td></tr>
{% endfor %}
</table><br/><br/>

<h2>Filip</h2><br/>
<table class="table">
<tr><td><label>Kto</label></td><td><label>Komu</label></td><td><label>Poznamka</label></td><td><label>Kolko</label></td><td><label>Kedy</label></td></tr>
{% for item in filip %}
    <tr><td>{{ item.kto }} </td><td>{{ item.komu }}</td><td>{{ item.poznamka }}</td><td>{{ item.kolko }}</td><td>{{ item.datum }}</td><td><a href="/delete/{{ item.id }}">Zmazat</a></td></tr>
{% endfor %}
</table><br/><br/>

<h2>Janci</h2><br/>
<table class="table">
<tr><td><label>Kto</label></td><td><label>Komu</label></td><td><label>Poznamka</label></td><td><label>Kolko</label></td><td><label>Kedy</label></td></tr>
{% for item in janci %}
    <tr><td>{{ item.kto }} </td><td>{{ item.komu }}</td><td>{{ item.poznamka }}</td><td>{{ item.kolko }}</td><td>{{ item.datum }}</td><td><a href="/delete/{{ item.id }}">Zmazat</a></td></tr>
{% endfor %}
</table>
</div>

</body>
</html>