<html>
<head>
    <title>TaVrat 2.0 - Ta vráť čo si si požičal</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="shortcut icon" href="static/icon.png" type="image/png" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<form method="post" action="/">
    Kto <select name="kto">
        {% for user in users %}
            <option value="{{ user }}">{{ users|get_item:user|get_item:0 }}</option>
        {% endfor %}
        </select>

    Komu <select name="komu">
        {% for user in users %}
            <option value="{{ user }}">{{ users|get_item:user|get_item:1 }}</option>
        {% endfor %}
        </select>
    Poznámka <input type="text" name="poznamka"/>
    Koľko <input type="text" name="kolko"/>
    <input type="submit" value="Odošli">

</form>
<h3>
{% for owe in owes %}
         {{ owe.who }} dlží {{ owe.whom }}: {{ owe.amount }} {{ mena }} <br/>
{% endfor %}
</h3>
<br/>

{% for user in history %}
<h2>{{ users|get_item:user|get_item:0}}</h2><br/>
<table class="table">
<tr><td><label>Kto</label></td><td><label>Komu</label></td><td><label>Poznámka</label></td><td><label>Koľko</label></td><td><label>Kedy</label></td></tr>
{% for item in history|get_item:user %}
    <tr><td>{{ users|get_item:item.kto|get_item:0 }} </td><td>{{ users|get_item:item.komu|get_item:1 }}</td><td>{{ item.poznamka }}</td><td>{{ item.kolko }}</td><td>{{ item.datum }}</td><td><a href="/delete/{{ item.id }}">Zmazať</a></td></tr>
{% endfor %}
</table><br/><br/>
{% endfor %}



</body>
</html>